/*styles for home page*/

html, body, header {          /*Used to allow percentage-based image scaling according to browser size. 100% causes the scroll bars to appear unnecessarily*/
    width: 99%;
    height: 99%;
    text-align: left;
    font-family: Constantia;
    /* background-color: black; */
    /* overflow: hidden;   Disables scrollbars in main viewport */
}

main section, aside {
    display: block;
    position: absolute;
    left: 670px;
    top: 170px;
    z-index: 2;
    color: white;
    margin-left: 50px;
    margin-right: 200px;
    min-width: 670px;
    max-width: 100%;
    text-align: left;
    text-shadow: 2px 2px 7px black;
}

section #title {
    font-size: 200%;
    margin-bottom: -10px;       /*Reduce gap between "About Us" and paragraphs*/
}

#aboutText p {                /*wrapper for all text on about page*/
    display: block;
    margin-left: 0px;
    margin-right: 200px;
    /* min-width: 500px;*/       /*Temp adjustments for now. Will use media for size snapping*/
    /* max-width: 600px; */
    width: 500px;
    font-size: 105%;        /*May be included in size snapping. TBD*/
}

@media only screen and (min-width: 1450px) {    /*If browser window is > 1450px*/
    #aboutText p {
        width: 600px;   /*Increase text field*/
        font-size: 110%;    /*Increase text size*/
    }
    main section, aside {  
        margin-left: 50px;  /*Convert all page content from absolute placement to relative according to browser window size (percentual)*/
        margin-right: 200px;
        left: 46.3%;    /*Distance form left of window equal to 720px from left edge of window. (left+margin-left in root element handler)*/
    }
}

/* 2 images style */

#images {
    display: block;
    width: 300px;
    position: relative;
    right: 360px;
    top: 35px;
    float: left;        /* to be addressed later */
}

#pic1 {
    padding: 0px 0px 5px;
    width: 340px;
}

#pic2{
    margin: 5px 0px 0px;
    width: 340px;
}