html, body, header {
    width: 99%;
    height: 99%;
    text-align: left;
    font-family: "Palatino Linotype";
}

main section, aside {
    position: absolute;
    left: 240px;
    top: 170px;
    z-index: 2;
    color: white;
    margin-left: 50px;
    margin-right: 200px;
    width: 1001px;
    text-align: center;
    text-shadow: 1px 1px 7px black;
}

@media only screen and (min-width: 1470px) {
    main section {
        margin-left: -445px;
        margin-right: 0px;
        min-width: 1001px;
        max-width: 100%;
        left: 50%;
    }
}

section #greet {
    font-size: 250%;
}

section p {
    max-width: 100%;
    font-size: 150%;
}


#pic1 {
    padding: 0 15px;
    width: 450px;
}

#pic2{
    margin: 0 15px;
    width: 437px;
}

