/*styles for home page*/

html, body, header {          /*Used to allow percentage-based image scaling according to browser size. 100% causes the scroll bars to appear unnecessarily*/
    width: 99%;
    height: 99%;
    text-align: left;
    font-family: Constantia;
    /* background-color: black; */
    /* overflow: hidden;   Disables scrollbars in main viewport */
}

main section, {
    position: absolute;
    left: 200px;
    top: 180px;
    z-index: 2;
}

#map {
    width: 400px;
    height: 400px;
    background: black;
    border: 2px solid green;
}

main aside {
    position: absolute;
    left: 780px;
    top: 260px;
    z-index: 2;
}

#storePic {
    width: 600px;
    height: auto;
}
