html, body, header {
    width: 99%;
    height: 99%;
    text-align: left;
    font-family: "Palatino Linotype";
}

main section, aside {
    position: absolute;
    left: 200px;
    top: 180px;
    z-index: 2;
    color: white;
    margin-left: 50px;
    margin-right: 200px;
    max-width: 100%;
    text-align: left;
    text-shadow: 1px 1px 7px black;
    
}


/*column styles*/

#columns {
    margin-left: 100px;
    margin-top: 35px;
    width: 970px;
    height: 540px;
    display: block;
    background-color: rgba(70, 70, 70, .5);
}

@media only screen and (min-width: 1575px) {
    main section {
        margin-left: -540px;
        margin-right: 0px;
        min-width: 1001px;
        max-width: 100%;
        left: 50%;
    }
}

#column1a {
    position: absolute;
    left: 150px;
    top: 60px;
    width: 169px;
    
}
section #group1 {
    position: absolute;
    left: -20px;
    top: -40px;
    font-size: 150%;
    min-width: 500px;
    
}
.price1 {
    position: absolute;
    Left: 370px;
    top: -40px;
    font-size: 150%;
}

#column1b {
    position: absolute;
    left: 130px;
    top: 450px;
    min-width: 500px;
}
section #group2 {
    position: absolute;
    Left: 0px;
    top: 0px;
    font-size: 150%;
}
.price2 {
    position: absolute;
    Left: 340px;
    top: 0px;
    font-size: 150%;
}

#column2a {
    position: absolute;
    left: 620px;
    top: 60px;
    width: 149px;
}
section #group3 {
    position: absolute;
    left: -20px;
    top: -40px;
    font-size: 150%;
    min-width: 500px;
}
.price3 {
    position: absolute;
    Left: 360px;
    top: -40px;
    font-size: 150%;
}

#column2b {
    position: absolute;
    left: 600px;
    top: 180px;
    min-width: 500px;
}
section #group4 {
    position: absolute;
    Left: 0px;
    top: 0px;
    font-size: 150%;
}
.price4 {
    position: absolute;
    Left: 340px;
    top: 0px;
    font-size: 150%;
}

#column2c {
    position: absolute;
    left: 620px;
    top: 350px;
    min-width: 148px;
}
section #group5 {
    position: absolute;
    left: -20px;
    top: -40px;
    font-size: 150%;
    min-width: 500px;
}



/*end of column styles*/

section p {
    font-size: 120%;
}


/* vertical bars style */

#vertBar1 {
    position: absolute;
    left: 115px;
    top: 50px;
    width: 0px;
    height: 500px;
    border: 5px solid white;
}

#vertBar2 {
    position: absolute;
    left: 580px;
    top: 50px;
    width: 0px;
    height: 500px;
    border: 5px solid white;
}

#vertBar3 {
    position: absolute;
    left: 1045px;
    top: 50px;
    width: 0px;
    height: 500px;
    border: 5px solid white;
}

/* horizontal bars style */

#horzBar1 {
    position: absolute;
    left: 150px;
    top: 435px;
    width: 400px;
    height: 0px;
    border: 2px solid white;
}

#horzBar2 {
    position: absolute;
    left: 615px;
    top: 280px;
    width: 400px;
    height: 0px;
    border: 2px solid white;
}
